.header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.header div {
    text-align: center;
}

.flexPad {
    display: flex; 
    justify-content: center;
}

.grid {
    display: grid; 
    border: solid red; 
    width: 400px; 
    height: 400px; 
    grid-gap: 0px;
    
}

.square {
    border: .5px solid black; 
    aspect-ratio: 1; 
}

.black {
    background-color: black; 
}
